::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: transparent;
}

::-webkit-scrollbar
{
	width: 10px;
    height: 10px;
	background-color: rgb(15 23 42 / 1);;
}

::-webkit-scrollbar-thumb
{
	background-color: rgb(83, 102, 132);
}

html {
    -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.bg-gray-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
}

.bg-blue-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(29 78 216 / var(--tw-bg-opacity));
}

.bg-red-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(185 28 28 / var(--tw-bg-opacity));
}

.bg-green-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(21 128 61 / var(--tw-bg-opacity));
}

.bg-slate-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(51 65 85 / var(--tw-bg-opacity));
}

.list-content:not(:last-child) {
  border-bottom: 2px solid rgba(255, 255, 255, 0.095);
}

.fill-red-500 {
  fill: #ef4444;
}

.fill-gray-700 {
  fill: #374151;
}

.btn-configure-page {
  visibility: 1;
  opacity: 1;
  animation: fade-in 200ms ease;
}

.btn-configure-page.hidden {
  transition: all 300ms ease;
  transition-behavior: allow-discrete;
  visibility: 0;
  opacity: 0;
}

.btn-configure-page .container {
  transform: translateY(0%);
  animation: slide-up 300ms ease;
}

.btn-configure-page.hidden .container {
  transition: all 0.55s;
  transform: translateY(10%);
}


@keyframes fade-in {
  0% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(-10%);
  } 100% {
    transform: translateY(0%);
  }
}